# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other assignments
OpenGL Course/Assignment 1 - RGB Cube
OpenGL Course/Assignment 2 - Futurama
OpenGL Course/Assignment 3 - Hare and HedgeHog
OpenGL Course/Assignment 4 - Pink Rabbit
OpenGL Course/Assignment 5 - Blue Planet

#OpenGL
OpenGL Course/Assignment 6 - Kürteil/.vs/
OpenGL Course\Assignment 6 - Kürteil/Debug/
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.exe.recipe
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.ilk
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.log
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.pdb
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/CL.command.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/Cl.items.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/CL.read.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/CL.write.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/Futurama.lastbuildstate
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/link.command.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/link.read.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.tlog/link.write.1.tlog
OpenGL Course/Assignment 6 - Kürteil/Debug/Futurama.vcxproj.FileListAbsolute.txt
OpenGL Course/Assignment 6 - Kürteil/Debug/vc143.pdb
